* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
}

.header {
    background-color: lavenderblush;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links > ul {
    display: flex;
    gap: 20px;
}

.logo > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

form {
    flex-grow: 1;
    display: flex;
}

.search-bar {
    border: 2px solid rgba(0, 0, 0, 0.719);
    margin: 0 100px 0 50px;
    padding: 10px;
    flex-grow: 1;
    border-radius: 10px;
    height: 50px;
    align-self: center;
}

h1 {
    text-align: center;
    padding: 30px;
}

.content-photos {
    margin-top: 40px;
    /* border : 1px solid black; */
    justify-content: center;
    align-items: center;
}

.photo-1,
.photo-2,
.photo-3,
.photo-4 {
    display: flex;
}

.photos > img{
    width: 400px;
    height: auto;
    max-height: 400px;
}

.photos {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: #F0FFFA;
}

p {
    margin: 20px;
    font-size: 24px;
    text-align: center;
}

